<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enter Quantity</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="quantity" class="form-control" id="quantity" placeholder="Enter quantity" [(ngModel)]="quantity" name="quantity">
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)=returnQuantity()>Save</button>
</div>