<div>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Description</th>
          <th scope="col">Add To Cart</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products.products; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td><button type="button" class="btn btn-primary" (click)="updateQuantity(product)">Add To Cart</button></td>
          </tr>
        </tbody>
    </table>
</div>

