<div>
    <label>Cart id : {{shoppingcart.id}}</label>

    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of shoppingcart.items; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{item.product.name}}</td>
            <td>{{item.quantity}}</td>
          </tr>
        </tbody>
    </table>
</div>